<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>com.gatorbait.ops-hub</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/bin/python3</string>
    <string>__OPS_HUB_SCRIPT__</string>
    <string>serve</string>
  </array>
  <key>WorkingDirectory</key><string>__OPS_HUB_DIR__</string>
  <key>RunAtLoad</key><true/>
  <key>KeepAlive</key><true/>
  <key>StandardOutPath</key><string>__OPS_HUB_STATE__/ops-hub.log</string>
  <key>StandardErrorPath</key><string>__OPS_HUB_STATE__/ops-hub-error.log</string>
</dict>
</plist>
